body {
  color: var(--main-color-text);
  font-family: "Roboto", sans-serif;
}
:root {
  --logo-color-black: rgba(0, 0, 0, 1);
  --main-color-black: rgba(33, 33, 33, 1);
  --main-color-blue: rgba(33, 150, 243, 1);
  --main-color-white: rgba(255, 255, 255, 1);
  --main-color-text: rgba(117, 117, 117, 1);
  --hero-color: rgba(47, 48, 58, 1);
  --button-color-port: rgba(245, 244, 250, 1);
  --main-color-icon: rgba(175, 177, 184, 1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

input {
  outline: none;
}
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* visibility */

.main-page__visibility,
.our-benefits__visibility {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* container */

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

/* page-header */

.page-header {
  border-bottom: 1px solid #ececec;
  z-index: 1;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

/* logo */

.link {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-black);
}

/* list */

.list {
  display: flex;
  margin-left: 93px;
  column-gap: 50px;
}

.link__logo--blue {
  color: var(--main-color-blue);
}

.list__link {
  display: block;

  padding: 30px 0;
  margin: 0;

  text-decoration: none;
  color: var(--main-color-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list__link--current {
  position: relative;
  color: var(--main-color-blue);
}

.list__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--main-color-blue);
}

.list__link:hover,
.list__link:focus {
  color: var(--main-color-blue);
}

/* feedback */

.feedback {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.feedback__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  color: var(--main-color-text);
}

.feedback--icon,
.feedback--icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: var(--main-color-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__link--animation:hover .feedback--icon,
.feedback__link--animation:focus .feedback--icon,
.feedback__link--animation:hover,
.feedback__link--animation:focus {
  color: var(--main-color-blue);
  fill: var(--main-color-blue);
}

/* main-page */

.hero-page {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/team.jpg);

  background-size: cover;
  background-position: center;
  background-color: var(--hero-color);
  padding: 200px 0;

  z-index: 1;
}
.hero-page__title {
  width: 700px;
  margin: 0 auto;
  color: var(--main-color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */

.button {
  border-color: transparent;
  display: block;
  padding: 0;
  height: 50px;
  width: 216px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;

  color: var(--main-color-white);
  background-color: var(--main-color-blue);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
  color: var(--main-color-white);
  background-color: var(--hero-color);
}

.button:hover {
  cursor: pointer;
}

/* backdrop */

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  transform: scale(0.9);

  transform: translate(-50%, -50%);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 530px;
  min-height: 580px;

  background-color: var(--main-color-white);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.backdrop__icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button-close:hover {
  fill: var(--main-color-blue);
}

/* order-form */

.order-form {
  padding-right: 40px;
  padding-left: 40px;
}

.order-form__title {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color-black);
}

.order-form__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  gap: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__input,
.order-form__textarea {
  padding: 11px 12px 11px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__icon {
  display: flex;
  align-items: center;
  position: absolute;
  left: 12px;
  bottom: 50%;
  transform: translateY(100%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
}

.order-form__label--focused:focus-within {
  fill: var(--main-color-blue);
}

.order-form__input--focused:focus-within,
.order-form__textarea--focused:focus-within {
  border: 1px solid var(--main-color-blue);
}

/* check-form */

.check-form {
  padding-left: 77px;
  padding-right: 54px;
}

.check-form__policy {
  display: block;
  margin-top: 20px;
}

.check-form__box {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.check-form__icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -23px;
  margin-top: 3px;
  border: 2px solid var(--main-color-black);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-form__box--checked:checked + .check-form__icon {
  background-color: var(--main-color-blue);
  border: 2px solid var(--main-color-blue);
}

.check-form__link {
  color: var(--main-color-blue);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  text-decoration-line: underline;
}

.check-form__text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

/* title */

.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color-black);
}

/* our-benefits */

.our-benefits {
  padding-top: 94px;
}

.our-benefits__list {
  display: flex;
  column-gap: 30px;
}

.our-benefits__item {
  max-width: 270px;
}

.our-benefits__title {
  color: var(--main-color-black);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-benefits__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* thumb */

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.thumb__icon {
  width: 70px;
  height: 70px;
}

/* our-skills */

.our-skills {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-skills__title {
  margin-bottom: 50px;

  color: var(--main-color-black);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* picture-list */

.picture-list {
  display: flex;
  z-index: -1;
  gap: 30px;
}

.picture-list__item {
  position: relative;
  z-index: 1;
}

.picture-list__overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.picture-list_text {
  padding: 27px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color-white);
  opacity: 1;
}

/* our-team */

.our-team {
  padding: 94px 0;
  background-color: var(--button-color-port);
}

.team-list {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  gap: 30px;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__names {
  padding-top: 30px;
  margin-bottom: 10px;

  color: var(--main-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__speciality {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* icons-block */

.icons-block {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

/* icon-list */

.icon-list {
  margin-top: 16px;
  padding-bottom: 30px;
  gap: 10px;
  display: flex;
}

.icon-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list__icon {
  fill: var(--main-color-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list__link--hover:hover,
.icon-list__link--hover:focus {
  background-color: var(--main-color-blue);
}
.icon-list__link--hover:hover .icon-list__icon,
.icon-list__link--hover:focus .icon-list__icon {
  fill: var(--main-color-white);
}

/* our-clients */

.our-clients {
  padding: 94px 0;
}

.company-list {
  display: flex;
  gap: 30px;
}

.company-list__item {
  display: flex;
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.company-list__link:hover .company-list_icon,
.company-list__link:focus .company-list_icon {
  fill: var(--main-color-blue);
}
.company-list__link:hover,
.company-list__link:focus {
  border: 1px solid var(--main-color-blue);
}

.company-list__link {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list_icon {
  fill: var(--main-color-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio */

.portfolio {
  padding: 94px 0;
}

/* button-list */

.button-list {
  display: flex;
  justify-content: center;
}
.button-list {
  gap: 8px;
}

.button-list__button {
  height: 38px;
  border-radius: 4px;
  border: 0;
  padding: 0px 22px;
  background-color: var(--button-color-port);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__button:hover,
.button-list__button:focus {
  background-color: var(--main-color-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

/* galery */

.galery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.galery__photo {
  width: calc((100% - 60px) / 3);
  /* margin-right: 30px;
  margin-bottom: 30px; */
  border: 1px solid #eeeeee;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* 
.pick .between-photo:nth-child(3n) {
  margin-right: 0px;
}
.pick .between-photo:nth-last-child(-n + 3) {
  margin-bottom: 0px;
} */

.galery__photo:hover,
.galery__photo:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.galery__link--hover:hover .animation__overlay,
.galery__link--hover:focus .animation__overlay {
  transform: translateY(0);
}

.animation {
  position: relative;
  overflow: hidden;
}

.animation__img {
  position: relative;
  overflow: hidden;
}

.animation__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.animation__text {
  padding: 63px 24px;
  text-align: start;

  font-size: 18px;
  line-height: 1.56;
  /* or 156% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.content {
  padding: 20px 24px;
  overflow: hidden;
}

.content__title {
  color: var(--main-color-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.content__text {
  padding-top: 4px;

  color: var(--main-color-text);

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* foot-info */

.foot-info {
  padding: 60px 0;

  background-color: var(--hero-color);
}

.foot-info__block {
  display: flex;
}

.foot-info__link {
  color: var(--main-color-white);
}

.foot-info__feedback {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 0;
}

/* address-area */

.address-area {
  font-style: normal;
  margin-right: 70px;
}

.address-area__street {
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--main-color-white);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-area__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* connect */

.connect {
  display: flex;
  flex-direction: column;

  padding-top: 12px;
  padding-bottom: 40px;
}

.connect__icon-link {
  background-color: #45454f;
}

.connect__icon-icon {
  fill: var(--main-color-white);
}

.connect__title {
  display: block;
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
  color: var(--main-color-white);
}

/* subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  padding-top: 12px;
}
.subscribe__bold {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/* footer-form */

.footer-form__input{
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-color-white);
  padding-left: 16px;
}

.footer-form__input::placeholder {
  display: flex;
  align-items: center;
  margin-left: 16px;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form__dox {
  display: flex;
  /* align-items: center; */
}

.footer-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 12px;
  height: 50px;
  width: 200px;
  cursor: pointer; 
  gap: 10px;
 
}